.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
examples/
qtlua.sln
config.hh
src/Debug/
src/*.vcxproj
src/*.vcxproj.filters
src/*.vcxproj.user
src/Qtlua/
src/Release/
src/cmake_install.cmake
src//moc_qtluaqtlib.*
src/qtlua.dir/
tools/
x64/
src/moc_qtluaqtlib.*
